<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
  <appSettings>
    <add key="PlexServiceName" value="PlexMediaServer"/>
    <add key="PlexExecutable" value="Plex Media Server.exe"/>
    <add key="PlexUpdatesFolder" value="Plex Media Server\Updates"/>
    <add key="PlexPackagesFolder" value="packages"/>
    <add key="PlexInstallParameters" value="/install /quiet /norestart /log "/>
    <add key="PlexInstallLogFolder" value="PlexUpdater"/>
    <add key="PlexInstallLogFile" value="PlexMediaServerInstall.log"/>
  </appSettings>
</configuration>
